@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-p: #64379f;
  --color-p_gradient: linear-gradient(to right, #64379f, #e1e1e1);
  }

html {
  box-sizing: border-box;
  background-color: black;
}
*,*:before, *:after {
  box-sizing: inherit;
}
body {
  line-height: 1.5;
  
  background-color: white;
}
a {
  text-decoration: none;
}
.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 2px;
  border: 1px solid transparent;
}

/* For Firefox */
.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}

@media (prefers-color-scheme: dark){
  body {
    background-image: linear-gradient(0deg, #000000, #1d1818, #0f0d18);
  }
}